@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
  font-family: "Poppins";
  overflow-x: hidden;
  position: relative;
  z-index: 1;
}
.darkTheme html,
.darkTheme body {
  background-color: #0B0B0B;
}
.lightTheme html,
.lightTheme body {
  background-color: #f8f9fd;
}

.cover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  .cover {
    display: none;
  }
}

.row {
  margin: 0;
}

#sidebar {
  width: 370px;
  padding: 0;
  padding-bottom: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  z-index: 3;
  left: -100vw;
  transition: all 0.25s;
}
.darkTheme #sidebar {
  background-color: #2B2B2B;
}
.lightTheme #sidebar {
  background-color: #ffffff;
}
#sidebar.appear {
  left: 0;
}
@media (min-width: 992px) {
  #sidebar {
    position: fixed;
    left: 0;
  }
  #sidebar ~ .col {
    padding-left: 430px;
  }
}
#sidebar .top {
  padding: 40px;
  padding-right: 0;
  margin-bottom: 40px;
}
.darkTheme #sidebar .top {
  border-bottom: 1px solid #9e9e9e;
}
.lightTheme #sidebar .top {
  border-bottom: 1px solid #f2f2f2;
}
#sidebar .logo {
  margin-right: 20px;
}
#sidebar .title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
}
.darkTheme #sidebar .title {
  color: #fbfbfb;
}
.lightTheme #sidebar .title {
  color: #131e3f;
}
#sidebar .desc {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
.darkTheme #sidebar .desc {
  color: #f2f2f2;
}
.lightTheme #sidebar .desc {
  color: #9e9e9e;
}
#sidebar .sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-left: 40px;
}
.darkTheme #sidebar .sub-title {
  color: #fbfbfb;
}
.lightTheme #sidebar .sub-title {
  color: #131e3f;
}
#sidebar .item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47px;
  padding: 0 40px;
}
.darkTheme #sidebar .item {
  background-color: #0B0B0B;
}
.darkTheme #sidebar .item svg path {
  stroke: #f5f5f5;
}
.lightTheme #sidebar .item {
  background-color: #f8f9fd;
}
.lightTheme #sidebar .item svg path {
  stroke: #66696f;
}
#sidebar .item svg {
  width: 24px;
  height: 24px;
  margin-right: 18px;
}
#sidebar .item .name {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.darkTheme #sidebar .item .name {
  color: #f5f5f5;
}
.lightTheme #sidebar .item .name {
  color: #66696f;
}
#sidebar .item .total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  margin: 0;
}
.darkTheme #sidebar .item .total {
  background-color: #2579d1;
  color: #e9f6ff;
}
.lightTheme #sidebar .item .total {
  background-color: #e9f6ff;
  color: #2579d1;
}
#sidebar .item.active {
  background: linear-gradient(-270deg, #f3f5ff 0%, rgba(212, 219, 255, 0) 100%);
}
.darkTheme #sidebar .item.active::before {
  background-color: #e9f6ff;
}
.darkTheme #sidebar .item.active svg path {
  stroke: #e9f6ff;
}
.darkTheme #sidebar .item.active .name {
  color: #e9f6ff;
}
.lightTheme #sidebar .item.active::before {
  background-color: #2579d1;
}
.lightTheme #sidebar .item.active svg path {
  stroke: #2579d1;
}
.lightTheme #sidebar .item.active .name {
  color: #2579d1;
}
#sidebar .item.active::before {
  position: absolute;
  top: 0;
  left: 0;
  content: ".";
  color: transparent;
  width: 6px;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
}
#sidebar .item.active .name {
  font-weight: 500;
}
#sidebar .item:hover {
  cursor: pointer;
}
#sidebar .mode-item {
  margin-top: 340px;
  margin-bottom: 30px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#sidebar .mode-item img {
  margin-right: 20px;
}
#sidebar .mode-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
}
.darkTheme #sidebar .mode-title {
  color: #f5f5f5;
}
.lightTheme #sidebar .mode-title {
  color: #66696f;
}
#sidebar .footer-text {
  padding: 0 38px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: -0.005em;
}
.darkTheme #sidebar .footer-text {
  color: #c5c5c5;
}
.lightTheme #sidebar .footer-text {
  color: #c5c5c5;
}

.darkTheme .toggle-container {
  background-color: #66696f;
}
.darkTheme .toggle-circle.active {
  background: #2B2B2B;
}
.lightTheme .toggle-container {
  background-color: #f5f5f5;
}
.lightTheme .toggle-circle.active {
  background: #ffffff;
}
.toggle-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4px;
  width: 70px;
  height: 30px;
  border-radius: 100px;
}
.toggle-circle {
  width: 32px;
  height: 22px;
  border-radius: 100px;
  background-position: center !important;
  background-size: 15px 15px;
  background-repeat: no-repeat !important;
  transition: all 0.25s ease-in-out;
}

#content {
  padding: 20px;
}
@media (min-width: 992px) {
  #content {
    padding: 40px 60px;
  }
}
#content .profile-img {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
#content .profile-name {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  margin: 0;
}
.darkTheme #content .profile-name {
  color: #f6fafd;
}
.lightTheme #content .profile-name {
  color: #0b102c;
}
#content .profile-desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-right: 6px;
}
.darkTheme #content .profile-desc {
  color: #f2f2f2;
}
.lightTheme #content .profile-desc {
  color: #9e9e9e;
}
#content .profile-edit {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  margin: 0;
}
.darkTheme #content .profile-edit {
  color: #627eea;
}
.lightTheme #content .profile-edit {
  color: #627eea;
}
#content .content-col {
  margin-top: 60px;
  margin-bottom: 10px;
}
#content .input-container {
  width: 100%;
}
@media (min-width: 1200px) {
  #content .input-container {
    width: 50%;
  }
}
#content .input-group {
  position: relative;
  z-index: 0;
  height: 50px;
  border-radius: 12px;
}
.darkTheme #content .input-group {
  background-color: #2B2B2B;
}
.darkTheme #content .input-group button {
  background-color: #2B2B2B;
}
.darkTheme #content .input-group input {
  color: #f5f5f5;
}
.lightTheme #content .input-group {
  background-color: #ffffff;
}
.lightTheme #content .input-group button {
  background-color: #ffffff;
}
.lightTheme #content .input-group input {
  color: #66696f;
}
#content .input-group > * {
  border: 0;
}
#content .input-group input {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
}
#content .btn-notif {
  outline: none;
  border: none;
  background-color: transparent;
  width: 55px;
  height: 50px;
  padding: 13px;
  border-radius: 50%;
  margin-left: 20px;
}
.darkTheme #content .btn-notif {
  background-color: #2B2B2B;
}
.lightTheme #content .btn-notif {
  background-color: #ffffff;
}

.exclusive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.exclusive .col-lg-4 {
  padding: 0;
}
.exclusive .color {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  margin: 0;
}
.darkTheme .exclusive .color {
  color: #f2f2f2;
}
.lightTheme .exclusive .color {
  color: #9e9e9e;
}
.exclusive .name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  margin: 0;
}
.darkTheme .exclusive .name {
  color: #fbfbfb;
}
.lightTheme .exclusive .name {
  color: #131e3f;
}
.exclusive .price {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
}
.darkTheme .exclusive .price {
  color: #e9f6ff;
}
.lightTheme .exclusive .price {
  color: #2579d1;
}
.darkTheme .exclusive-card {
  background: #2B2B2B;
}
.darkTheme .exclusive-btn {
  color: #2B2B2B;
  background-color: #e9f6ff;
}
.lightTheme .exclusive-card {
  background: #ffffff;
}
.lightTheme .exclusive-btn {
  color: #ffffff;
  background-color: #2579d1;
}
.exclusive-preview {
  max-width: 100%;
  margin-bottom: 10px;
}
.exclusive-card {
  margin-bottom: 12px;
  width: 100%;
  border-radius: 24px;
  padding: 20px;
}
.exclusive-like {
  outline: none;
  border: none;
  background-color: transparent;
}
.exclusive-btn {
  outline: none;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  width: 100%;
  height: 45px;
  border-radius: 12px;
}
@media (min-width: 1200px) {
  .exclusive-btn {
    width: 109px;
  }
}

.content-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
}
.darkTheme .content-title {
  color: #fbfbfb;
}
.lightTheme .content-title {
  color: #131e3f;
}
.content-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
}
.darkTheme .content-link {
  color: #e9f6ff;
}
.lightTheme .content-link {
  color: #2579d1;
}

.best-card {
  margin-bottom: 12px;
  border-radius: 24px;
  padding: 25px;
}
.darkTheme .best-card {
  background-color: #2B2B2B;
}
.darkTheme .best-card .brand {
  color: #fbfbfb;
}
.darkTheme .best-card .social {
  color: #f2f2f2;
}
.lightTheme .best-card {
  background-color: #ffffff;
}
.lightTheme .best-card .brand {
  color: #131e3f;
}
.lightTheme .best-card .social {
  color: #9e9e9e;
}
.best-card .brand {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  margin: 0;
  margin-right: 7px;
}
.best-card .social {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.best-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  width: 89px;
  height: 38px;
}
.darkTheme .best-btn {
  color: #e9f6ff;
}
.darkTheme .best-btn.bg {
  background-color: #0b102c;
  border: 1px solid #e9f6ff;
  color: #e9f6ff;
}
.darkTheme .best-btn.bg.follow {
  background-color: #e9f6ff;
  color: #2B2B2B;
}
.lightTheme .best-btn {
  color: #2579d1;
}
.lightTheme .best-btn.bg {
  background-color: #f6fafd;
  border: 1px solid #2579d1;
  color: #2579d1;
}
.lightTheme .best-btn.bg.follow {
  background-color: #2579d1;
  color: #ffffff;
}
.best-btn.bg {
  border-radius: 100px;
}
.best-preview-group {
  max-width: 100%;
}
.best-preview {
  max-width: 100%;
}
.best-logo-container {
  margin-top: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  overflow: hidden;
}
.darkTheme .best-logo-container .logo {
  background-color: #2B2B2B;
}
.darkTheme .best-logo-containerdetails {
  background-color: #131e3f;
}
.darkTheme .best-logo-containerdetails-section:not(:last-child) {
  border-right: 1px solid #748c9e;
}
.darkTheme .best-logo-containerdetails .best-details-value {
  color: #fbfbfb;
}
.darkTheme .best-logo-containerdetails .best-details-label {
  color: #ededed;
}
.lightTheme .best-logo-container .logo {
  background-color: #ffffff;
}
.lightTheme .best-logo-containerdetails {
  background-color: #fbfbfb;
}
.lightTheme .best-logo-containerdetails-section:not(:last-child) {
  border-right: 1px solid #ededed;
}
.lightTheme .best-logo-containerdetails .best-details-value {
  color: #131e3f;
}
.lightTheme .best-logo-containerdetails .best-details-label {
  color: #748c9e;
}
.best-logo-container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  overflow: hidden;
}
.best-logo-container .logo img {
  border-radius: 50%;
}
.best-details {
  border-radius: 12px;
  padding: 14px 18px;
  margin-top: 10px;
}
.best-details-section:not(:first-child) {
  padding-left: 29px;
}
.best-details-section:not(:last-child) {
  padding-right: 29px;
}
.best-details .best-details-value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
}
.best-details .best-details-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
}